body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('img/Grande.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-container {
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.button-container button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #0056b3;
}

.button-container a {
    text-decoration: none;
}